<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a href="http://dxc-technlogy-maroc.com/" class="navbar-brand">DXC.technology Generator</a></div>
      <ul class="navbar-nav">
          <li><a class="nav-link" href="/formulaire">Application generator</a></li>
      </ul>
  </nav>
</header>


  <div class="container"  >
    <br>
    <div class="rox">
      <div class="col-md-6">
        <h3>Formulaire du générateur</h3> 
       <!--  -->
       <br>
        
        <form [formGroup]="generateurForm" (ngSubmit)="onSubmit()">


          <div class="form-group">
            <label>Emplacement projet :</label>
            <input type="text" class="form-control" formControlName="diroctoryproject" placeholder="Project directory path..."
              [ngClass]="{ 'is-invalid': submitted && f.diroctoryproject.errors }" />
            <div *ngIf="submitted && f.diroctoryproject.errors" class="invalid-feedback">
              <div *ngIf="f.diroctoryproject.errors.required">Emplacement projet est obligatoire !</div>
            </div>
          </div>

          <div class="form-group">
            <label>Nom projet :</label>
            <input type="text" class="form-control" formControlName="nomprojet"
              [ngClass]="{ 'is-invalid': submitted && f.nomprojet.errors }" />
            <div *ngIf="submitted && f.nomprojet.errors" class="invalid-feedback">
              <div *ngIf="f.nomprojet.errors.required">Nom de projet obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>Nom de package :</label>
            <input type="text" class="form-control" formControlName="nompackage"
              [ngClass]="{ 'is-invalid': submitted && f.nompackage.errors }" />
            <div *ngIf="submitted && f.nompackage.errors" class="invalid-feedback">
              <div *ngIf="f.nompackage.errors.required">Nom de package obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>Sur quel port votre serveur doit-il fonctionner ? Il doit être unique pour éviter les conflits de
              port:</label>
            <input type="number" class="form-control" formControlName="port"
              [ngClass]="{ 'is-invalid': submitted && f.port.errors }" />
            <div *ngIf="submitted && f.port.errors" class="invalid-feedback">
              <div *ngIf="f.port.errors.required"> port obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>Type de base de donne :</label>
            <select class="custom-select" formControlName="typebasededonne"
              [ngClass]="{ 'is-invalid': submitted && f.typebasededonne.errors }">
              <option value="MYSQL" selected>MYSQL</option>
              <option value="postgresql">postgresql</option>
            </select>

            <div *ngIf="submitted && f.typebasededonne.errors" class="invalid-feedback">
              <div *ngIf="f.typebasededonne.errors.required">choisir un type de base de donne est obligatoire</div>
            </div>
          </div>

          <div class="form-group">
            <label>Serveur de la base de donnée:</label>
            <input type="text" class="form-control" formControlName="lienserveur"
              [ngClass]="{ 'is-invalid': submitted && f.lienserveur.errors }" />
            <div *ngIf="submitted && f.lienserveur.errors" class="invalid-feedback">
              <div *ngIf="f.lienserveur.errors.required"> URL serveur obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>Nom de la base de donnée :</label>
            <input type="text" class="form-control" formControlName="databaseName" placeholder="Database Name ..."
             [ngClass]="{ 'is-invalid': submitted && f.lienserveur.errors }" />
            <div *ngIf="submitted && f.databaseName.errors" class="invalid-feedback">
              <div *ngIf="f.databaseName.errors.required"> Nom de la bdd obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>nom d'urilisateur de base de données:</label>
            <input type="text" class="form-control" formControlName="nomutilisateur"
              [ngClass]="{ 'is-invalid': submitted && f.nomutilisateur.errors }" />
            <div *ngIf="submitted && f.nomutilisateur.errors" class="invalid-feedback">
              <div *ngIf="f.nomutilisateur.errors.required"> nom utilisateur obligatoire </div>
            </div>
          </div>

          <div class="form-group">
            <label>Mot de passe utilisateur base de donne :</label>
            <input type="password" class="form-control" formControlName="motdepasseutilisateur"
              placeholder="saisir mot de passe..." />
     
          </div>


       
            <!--<h2>Small Modal</h2>-->
            <label>Vous devez tester la connexion avec la base de données : </label> &nbsp;
            <button type="button" class="btn btn-success mr-2" (click)="onTest()" data-toggle="modal" data-target="#myModal">test</button>
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                 <h2>Message</h2>
                <div >
                 {{variable}}
                </div>
                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
         
<br>
<br>



<!--
          <div class="form-group">
            <input type="checkbox" formControlName="acceptation" class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && f.acceptation.errors}" />
            <label for="acceptation" class="form-check-label">verifier vos information et accepter </label>
            <div *ngIf="submitted && f.acceptation.errors" class="invalid-feedback">accepter votre verification</div>

          </div>  -->

          <div class="text-center">
            <button type="submit" [disabled]="!generateurForm.valid || !testCnx" class="btn btn-primary mr-2">Envoyer</button>
           
            <div class="backdrop" [ngStyle]="{'display':display}"></div>
            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                  <h4 class="model-title" style="align-items: center">Generating the application</h4>
                  <app-loader></app-loader>
                 </div>
                 <div *ngIf="loading===false" class="modal-body">
                  <p> Generation succeeded ! 
                     <!--<span> If you want to change properties labels click on Change button</span> -->            
                  </p>
                 </div>
          
               </div><!-- /.modal-content -->
             </div><!-- /.modal-dialog -->
            </div><!-- /.modal !-->
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Annuler</button>
            <br>
            <br>
            <div *ngIf="showForm">
              <br>
              
         <!--    <app-tables [tables]='tables'
                          [projectDirectory]='projectDirectory' ></app-tables> --> 
            </div>
          </div>
          <br>
          <br>
        </form>
        <br>
        <br>

    <!--    <div class="Tables" *ngIf="showForm">
          <app-tables></app-tables>
          </div>
        -->
      </div>
    </div>
  </div>


